body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./imagens/confetes1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font: normal 15pt Times;
    text-align: center;
}

#social-links {
    display: flex;
    justify-content: center;
  
    padding: 24px 0;
    font-size: 24px;
  }