
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./imagens/china.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font: normal 15pt Times;
    text-align: center;
}