@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./imagens/china.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font: normal 15pt Times;
    text-align: center;
}

h1{
    color: blueviolet;
    text-align: center;
    text-shadow: 2px 2px 1px black;
    font-family: "Irish Grover", system-ui;
    font-weight: 400px;
    font-style: bold;
    font-size: 4em;
    margin: 15px;
    padding: 10px;
}

#propaganda {
    background-color: #b6c4ccb6;
    border-radius: 15px;
    box-shadow: 5px 5px 12px #776c578d;
    width:400px;
    padding:10px;
    margin: auto;
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 24px 0;
    font-size: 24px;
  }

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: rgba(190, 119, 147, 0.39);
    padding: 16px;
}

address{
    text-align: center;
    margin:20px;
    padding:20px;
}
